.collections {
  width: 80%;
  height: 100vh;

  .collectionCardsContainer {
    padding: 23px 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .radioButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}
