.chart_container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  // justify-content: center;
  flex-direction: column;

  .swiper {
    width: 100%;
  }

  .block {
    display: block;
  }

  .none {
    display: none;
  }

  h1 {
    width: 90%;
    color: white;
    align-self: center;
    margin: 10px 0;
  }

  .chartCards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  @media only screen and (max-width: 720px) {
    width: 100%;
    height: 400px;
  }

  // .chartCards {
  //   display: none;
  // }

  h1 {
    font-size: 20px;
  }
}
