.track_card {
  height: 60px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 30px;
  transition: 0.5s;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: 100;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background: var(--light-dark);
  }

  svg {
    color: var(--white);
  }

  .about_track {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .track_image {
      width: 50px;
      border-radius: 5px;
    }

    .track_details {
      display: flex;
      flex-direction: column;

      .track_title {
        color: var(--white);
      }
    }
  }
}
