.navbar {
  // background: var(--dark);
  background: var(--transparent);
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  color: var(--text-color);
  z-index: 100;

  .hamburger_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    display: none;
    z-index: 10;
  }

  .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    gap: 15px;
    padding: 20px;

    input {
      background-color: transparent;
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      transition: 0.5s;
      padding: 10px;
      color: var(--text-color);

      &:focus {
        background: var(--light-dark);
      }
    }
  }
  @media only screen and (max-width: 720px) {
    .hamburger_container {
      display: block;
    }
  }
}
