* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--dark);
}

:root {
  --green: #1db954;
  --white: #ffff;
  --black: #191414;
  --light-black: #221c1c;
  --light: #efeee0;
  --dark: #1d2123;
  --dark-alt: #1a1e1f;
  --light-dark: #262b2e;
  --text-color: rgba(255, 255, 255, 0.25);
  --yellow: #facd66;
  --transparent: #ffffff00;
  --blue-header: #a4c7c6;
}
