* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: #1db954;
  --white: #ffff;
  --black: #191414;
  --light-black: #221c1c;
  --dark: #1d2123;
  --light-dark: #262b2e;
  --text-color: rgba(255, 255, 255, 0.25);
  --yellow: #facd66;
}
