.chartCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background: var(--dark-alt);
  color: var(--text-color);
  width: 100%;
  border-radius: 20px;
  height: 96px;
  padding: 17px;
  text-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: 0.5s;

  .chartCard_description {
    margin: 17px;

    h3 {
      color: white;
      font-size: max(1.1vw, min(12px));
    }

    :nth-child(3) {
      color: white;
    }
  }

  img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 720px) {
  .chartCard {
    width: 270px;
    height: 233px;
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 108px;
      height: 99px;
    }

    .chartCard_description {
      margin: 0;
      display: flex;
      gap: 5px;
      justify-content: center;
      flex-direction: column;

      h3 {
        font-size: 17px;
      }

      :nth-child(2) {
        font-size: 14px;
      }

      :nth-child(3) {
        font-size: 17px;
        color: white;
        margin-top: 23px;
      }
    }
  }
}
