$light: #ffffff;
$secondary: #facd66;
$black: #000000;
$dark-gray: #1d2123;

@mixin blur-effect($background-color, $blur-amount: 10px) {
  backdrop-filter: blur($blur-amount);
  background-color: rgba($background-color, 0.3);
}

.player {
  position: fixed;
  height: 100px;
  z-index: 100;
  bottom: -250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  padding: 20px;
  transition: 0.5s ease;

  //background
  background: linear-gradient(
    180deg,
    rgba(var(--white) 0.1) 0%,
    rgba(var(--black), 0.1) 100%
  );
  @include blur-effect(var(--black), 20px);
  border-top: 1px solid var(--text-color);

  .song {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;

    .song_details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
      // text-wrap: nowrap;

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 10px;
        color: var(--text-color);
        font-weight: 400;
      }
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 14px;
      //   box-shadow: 0px 0px 43px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 42px 5px rgba(255, 255, 255, 0.444);
      transition: 0.5s;
    }
  }

  .player_settings {
    width: 80%;
  }
}

.show {
  // display: block;

  // opacity: 1;
  bottom: 0;
}

@media only screen and (max-width: 720px) {
  .player {
    padding: 30px;
    .song {
      width: 50%;
      img {
        box-shadow: 0px 0px 22px 5px rgba(255, 255, 255, 0.444);
      }
    }
    .player_settings {
      width: 40%;
    }
  }
}
